/* !Rosso Graduale */
.ex-1-square:hover{
    background-color: red;
    transition: background 3s;

}


/* !from square to a rectangle */
.ex-2-square:active{
    width: 100%;
    transition: all 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
    animation: circle ease-in 5s ;
}

@keyframes circle{

    100%{
        border-radius: 25%;
    }

} 

/* square background color change */

.ex-4-square:hover{
    background-color: #f5f5f5;
    transition: background 3s ease-out;
}

/* scale */
.ex-5-square:hover{
    transform: scale(2);
    transition: all 3s;
}
.ex-5-square:active{
    transform: scale(.5);
    transition: all 3s;
}

/* img black&white */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* TWO EFFECTS */
.ex-7-img:hover{
    opacity: 0.9;
    filter: sepia(0.7);
    transition: all 3s ease-in;
}

/* border radius + filters */
.ex-8-img:hover{
    border-radius: 5%;
    filter: saturate(0.5) sepia(0.5);
    transition:all 3s ease-in;
}

/* effects + border */
.ex-9-img:hover{
    border-radius: 5%;
    filter: sepia(0.5) contrast(0.8);
    transform: scale(1.5);
    transition: all 3s ease-in;
}

.ex-10-icon{
    animation: spinningAround 1s linear infinite;
}

@keyframes spinningAround{
    100%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: spinningAroundTwo 3s infinite alternate-reverse;
  /*   animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes spinningAroundTwo{
    0%{
        transform: rotate(290deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
.ex-12-button:hover .ex-12-top-white{
    /* left: 60%; */
    animation: animateLeft 10s linear;
}


.ex-12-button:hover .ex-12-bottom-white{
    animation: animateRight 10s linear;
}

@keyframes animateLeft{
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

@keyframes animateRight{

    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}


.ex-13-button:hover .ex-13-top-white{
    animation:movingTop 30s linear ;
}


.ex-13-button:hover .ex-13-bottom-white{
    animation: movingBottom 30s linear;
}



@keyframes movingTop{
    
    0% {
        top: -10px;
        left: 10%;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }

    /* Angolo scende */
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes movingBottom {
    
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}