/* !Rosso Graduale */
.ex-1-square:hover{
    background-color: red;
    transition: background 3s;

}


/* !from square to a rectangle */
.ex-2-square:active{
    width: 100%;
    transition: all 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
    animation: circle ease-in 5s ;
}

@keyframes circle{

    25% {
        border-radius: 25%;
    }

} 

/* square background color change */

.ex-4-square:hover{
    background-color: #f5f5f5;
    transition: background 3s ease-out;
}

/* scale */
.ex-5-square:hover{
    transform: scale(1.8);
    transition: all 3s;
}

/* img black&white */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* TWO EFFECTS */
.ex-7-img:hover{
    opacity: 0.9;
    filter: sepia(0.7);
    transition: all 3s ease-in;
}

/* border radius + filters */
.ex-8-img:hover{
    border-radius: 5%;
    filter: saturate(0.5) sepia(0.5);
    transition:all 3s ease-in;
}

/* effects + border */
.ex-9-img:hover{
    border-radius: 5%;
    filter: sepia(0.5) contrast(0.8);
    transform: scale(1.5);
    transition: all 3s ease-in;
}

.ex-10-icon{
    animation: spinningAround 1s linear infinite;
}

@keyframes spinningAround{
    100%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: spinningAround 3s infinite alternate-reverse;
  /*   animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.ex-12-button:hover .ex-12-top-white{
    animation: animateLeft 1s linear alternate;
}


.ex-12-button:hover .ex-12-bottom-white{
    animation: animateRight 1s linear alternate;
}

@keyframes animateLeft{

    0% {
        left: calc(50% / 3);
    }

    50% {
        left:calc(50% / 3);
    }

    100%{
        left:calc(50% / 3);
    }
}

@keyframes animateRight{

    0% {
        right:calc(50% / 3);
    }

    50%{
        right:calc(50% / 3);
    }

    100% {
        right:calc(50% / 3);
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: animateLeft 4s linear;
}


.ex-13-button:hover .ex-13-bottom-white{
    animation: animateRight 4s linear ;
}

@keyframes animateLeft{
    0%{
        left:100%;
        right:0;
        top:0
    }

    25%{
        right:0;
        top:0;
        bottom:100%;
    }

    50%{
        left:0;
        bottom:0;
        right: 100%;
    }

    75%{
        bottom:100%;
        top:0;
        left:0;
    }

    100%{
        bottom: 100%;
        left:5%;
        top:0;
    }
    
}

@keyframes animateRight{
    0%{
        left:0;
        right:100%;
        top:0
    }

    25%{
        right:0;
        top:100%;
        bottom:0;
    }

    50%{
        left:100%;
        bottom:0;
        right: 0;
    }

    75%{
        bottom:0;
        top:100%;
        left:0;
    }

    100%{
        bottom:0;
        left:5%;
        top:100%;
    }
    
}